<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-libraries" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-libraries/nuget/v3/index.json" />
    <add key="Packages" value="./packages" />
    <add key="jp2masa MyGet Feed" value="https://www.myget.org/F/jp2masa/api/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Packages">
      <package pattern="MediaInfo" />
    </packageSource>
    <packageSource key="jp2masa MyGet Feed">
      <package pattern="Movere" />
    </packageSource>
    <packageSource key="dotnet-libraries">
      <package pattern="System.CommandLine*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
