<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="apiv1Soap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="apiv1Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://api.chartlyrics.com/apiv1.asmx" binding="basicHttpBinding"
                bindingConfiguration="apiv1Soap" contract="apiv1Soap" name="apiv1Soap" />
            <endpoint address="http://api.chartlyrics.com/apiv1.asmx" binding="customBinding"
                bindingConfiguration="apiv1Soap12" contract="apiv1Soap" name="apiv1Soap12" />
        </client>
    </system.serviceModel>
</configuration>